$wtColor: #fff;
$mainColor: #35187f;
$dgColor: #f8d7da;
$dgString: #942e30;
$cheackColor: #165724;
$cheackString: #d4edda;
$shadow7: rgba(0, 0, 0, 0.7);
$shadow6: rgba(0, 0, 0, 0.6);
$shadow5: rgba(0, 0, 0, 0.5);
$shadow2: rgba(0, 0, 0, 0.2);
$shadowG: rgba(95, 95, 95, 0.2);
$bcColor: #111727;
$rd: red;