@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  border: none;
  outline: none;
  text-decoration: none;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.container {
  max-width: 350px;
  min-height: 40vh;
  padding: 2rem;
  background: #fff;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.container .imgBox {
  text-align: center;
}

.container .imgBox img {
  width: 16rem;
  margin-bottom: 2rem;
}

.container h2 {
  color: #35187f;
}

.container .subtitle {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
}

.container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: default;
      -ms-flex-pack: default;
          justify-content: default;
  -webkit-box-align: default;
      -ms-flex-align: default;
          align-items: default;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container form input[type="email"] {
  margin-top: 3rem;
}

.container form input[type="submit"] {
  padding: 0.4rem;
  margin-top: 2rem;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 300;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fff;
  background: #35187f;
}

.container form input[type="submit"]:hover {
  letter-spacing: 0.5px;
}

.container form .inputBox {
  position: relative;
}

.container form .inputBox input {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.7);
  width: 100%;
}

.container form .inputBox:first-child {
  margin-bottom: 1.5rem;
}

.container form .inputBox input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.container form .inputBox input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.container form .inputBox input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.container form .inputBox input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.container form .inputBox .underline::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: -5px;
  left: 0;
  color: rgba(0, 0, 0, 0.2);
}

.container form .inputBox .underline::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: -5px;
  left: 0;
  background: #35187f;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container form .inputBox input:focus ~ .underline::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.container form .passwordF {
  padding: 0.7rem 0;
  text-align: end;
}

.container form .passwordF a {
  color: #111727;
  font-size: 0.7rem;
  text-decoration: underline;
}

.container .spanBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: default;
      -ms-flex-pack: default;
          justify-content: default;
  -webkit-box-align: default;
      -ms-flex-align: default;
          align-items: default;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 1.5rem;
}

.container .spanBox span {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
}

.warningBox {
  text-align: center;
  position: fixed;
  top: 5%;
  padding: 0.6rem;
  font-size: 0.8rem;
  border-radius: 5px;
  color: #942e30;
  width: 330px;
  background: #f8d7da;
}

.goodBox {
  text-align: center;
  position: fixed;
  top: 5%;
  padding: 0.6rem;
  font-size: 0.8rem;
  border-radius: 5px;
  color: #165724;
  width: 330px;
  background: #d4edda;
}
/*# sourceMappingURL=index.css.map */